header {
  width: 100%;
}

header #header-top {
  width: 100%;
  height: 20px;
  display: flex;
  background-color: blue;
  color: white;
  text-transform: uppercase;
}

header #header-top div * {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header #header-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

header #header-center ul li {
  display: inline-block;
  list-style: none;
}

header #header-bottom {
  height: 270px;
}

header #header-bottom img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

footer {
  width: 100%;
}

footer #footer-top .size-page {
  display: flex;
  padding: 15px;
}

footer #footer-top .size-page .footer-column {
  margin-left: 15px;
}

footer #footer-top .size-page .footer-column h3 {
  margin-top: 15px;
}

footer #footer-top .size-page .footer-column ul {
  list-style: none;
}

footer #footer-bottom {
  background-color: gray;
  align-items: center;
}

footer #footer-bottom .size-page {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

#comics-container {
  padding: 15px;
}

#comics-container ul {
  display: flex;
  flex-wrap: wrap;
}

#comics-container ul li {
  width: calc(100%/6);
  display: inline-block;
  list-style: none;
}

#comics-container ul li img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

#banner-shop-container {
  background-color: blue;
}

#banner-shop-container ul {
  display: flex;
  flex-wrap: wrap;
}

#banner-shop-container ul li {
  width: calc(100%/6);
  display: flex;
  align-items: center;
  list-style: none;
  align-items: center;
}

#banner-shop-container ul li img {
  width: 50px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.size-page {
  width: 80%;
  margin: 0 auto;
}

